<div>
    <h3>Список продуктов</h3>
    <br>
    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Название продукта</td>
            <td>Цена</td>
            <td></td>
        </tr>
        <tbody>
        <tr ng-repeat="p in productList">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.cost}}</td>
            <td>
                <button class="btn btn-primary" ng-click="addToCart(p.id)">Добавить в корзину</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div align="center">
        <span ng-repeat="p in pages"><a href="" class="badge badge-primary" ng-click="loadProduct(p)">{{p}}</a></span>
    </div>

    <h4>Фильтр</h4>
    <p></p>
    <form novalidate ng-submit="loadProduct()">
        <label>
            <input class="form-control" type="text" placeholder="Название" ng-model="title">
        </label>
        <p></p>
        <p>Цена:</p>
        <label>
            <input class="form-control" type="number" placeholder="min" ng-model="min">
        </label>
        <label>
            <input class="form-control" type="number" placeholder="max" ng-model="max">
        </label>
        <p></p>
        <button type="submit" class="btn btn-primary">Применить</button>
    </form>
</div>